body {
    background-color: rgb(71, 70, 69);

    align-items: center;
    justify-content: center;
}

header {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    background-color: tomato;
    z-index: 1000;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-size: 20px;

}

a {
    text-decoration: none;
    color: blue;

}

a:hover {
    border: 2px solid rgb(143, 220, 243);
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(143, 220, 243), 0 0 20px rgb(143, 220, 243), 0 0 30px rgb(143, 220, 243);
}

.image {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: auto;
    margin-top: 190px;
    border: 3px solid rgb(19, 19, 19);
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(8, 8, 8), 0 0 30px rgb(8, 8, 8), 0 0 40px blue;
}

.image:hover {
    transform: scale(1.0);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 20px rgb(143, 220, 243), 0 0 30px rgb(143, 220, 243), 0 0 40px rgb(143, 220, 243);
}

h1 {
    text-align: center;
    color: rgb(248, 247, 248);
    margin-top: 20px;
    font-size: 40px;
    text-shadow: 0 0 10px rgb(29, 28, 28), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(78, 20, 212);
}

p {
    text-align: center;
    color: rgb(247, 247, 248);
    margin-top: 20px;
    font-size: 20px;
    text-shadow: 0 0 10px rgb(29, 28, 28), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(78, 20, 212);
}



.album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* 3 per row, responsive */
    gap: 90px;
    max-width: 1500px;
    margin: 80px auto;
    padding: 20px;
    background: #1b1b1b;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(8, 8, 8), 0 0 30px rgb(8, 8, 8), 0 0 40px blue;
}

.album img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; */
}

.album img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.6), 0 0 50px rgba(0, 0, 255, 0.6);
}


.welcome-message {
    margin: 40px auto;
    width: 400px;
    height: auto;
    margin-top: 150px;
    border: 3px solid rgb(19, 19, 19);
    border-radius: 10%;
    box-shadow: 0 0 20px rgb(8, 8, 8), 0 0 30px rgb(8, 8, 8), 0 0 40px blue;

}

.welcome-message p {
    text-transform: uppercase;
    text-align: center;
    color: rgb(247, 247, 248);
    margin-top: 20px;
    font-size: 20px;
    text-shadow: 0 0 10px rgb(29, 28, 28),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(240, 239, 243);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin-top: 200px;
    border: 2px solid black;
    padding: 20px;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: thistle;
    box-shadow: #272525 0px 5px 15px, #1e07f1 0px -5px 15px, #f1efec 5px 0px 15px, #272525 -5px 0px 15px;

}

/* body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#272525, #f1efec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

input {
    padding: 20px;
    margin: 10px 0px;
    height: 10px;
    border-radius: 50px;
    width: 250px;
    cursor: pointer;


}

input:hover {
    border-color: 20px solid #1e07f1;
    background-color: lightgoldenrodyellow;
}

textarea {
    resize: none;
    border-radius: 3px;
    height: 100px;
    width: 280px;
    cursor: pointer;
}

.submit-button {
    height: 60px;
    width: 100px;
    border-radius: 20px;
    font-size: larger;
    background-color: lightseagreen;
    margin-top: 20px;

}

.submit-button:hover {
    background-color: rgb(62, 145, 89);
    color: white;
    cursor: pointer;
}

textarea:focus,
input:focus {
    border: #1e07f1;
    outline: none;
    border: 2px solid blue;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.talk-to-me {
    background-color: rgb(231, 20, 178);
    color: white;
    font-size: large;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    margin-left: 45%;

}

.talk-to-me:hover {
    background-color: rgb(47, 17, 218);
    transform: translateY(-2px);
}